* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #232324;
}
::selection {
  color: #fff;
  background: #232324;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
input,
textarea {
  border-radius: 0 !important;
  -webkit-appearance: none !important;
}
input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-calendar-picker-indicator,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  display: none;
  -webkit-appearance: none;
}
.lazyBackground.lazy {
  background-image: none!important;
}
html,
body {
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background: #000;
  font-weight: 400;
  overflow-x: hidden;
}
html p,
body p {
  font-size: 16px;
  line-height: 35px;
  margin-bottom: 35px;
}
html p:last-child,
body p:last-child {
  margin-bottom: 0;
}
html.overflow,
body.overflow {
  overflow: hidden;
}
html .contentScroller,
body .contentScroller {
  position: relative;
  top: 0;
  z-index: 1;
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: opacity 0.6s 0s, pointer-events 0.6s 0s, transform 0.6s 0s;
  -moz-transition: opacity 0.6s 0s, pointer-events 0.6s 0s, transform 0.6s 0s;
  -ms-transition: opacity 0.6s 0s, pointer-events 0.6s 0s, transform 0.6s 0s;
  -o-transition: opacity 0.6s 0s, pointer-events 0.6s 0s, transform 0.6s 0s;
  transition: opacity 0.6s 0s, pointer-events 0.6s 0s, transform 0.6s 0s;
}
html .contentScroller.hidden,
body .contentScroller.hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -o-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
}
html .contentScroller.hidden *,
body .contentScroller.hidden * {
  pointer-events: none !important;
}
html .contentScroller.disabled,
body .contentScroller.disabled {
  background: #232324;
}
html .contentScroller.disabled .pageContainer,
body .contentScroller.disabled .pageContainer {
  filter: blur(10px);
}
html .contentScroller.disabled .pageContainer:after,
body .contentScroller.disabled .pageContainer:after {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background: #232324;
  z-index: 10;
  opacity: 0.8;
}
html .contentScroller section:first-child,
body .contentScroller section:first-child {
  margin-top: 0;
}
html .contentScroller .pageContainer,
body .contentScroller .pageContainer {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
strong,
b {
  font-weight: 600;
}
.has-scroll-smooth[data-scroll-container] {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
}
.has-scroll-smooth body {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
[data-scroll-speed] {
  will-change: transform;
}
.contentWrapper {
  width: 1920px;
  padding: 0 65px;
  margin: 0 auto;
  max-width: 100%;
}
.bigTitle {
  font-size: 65px;
  line-height: 65px;
  font-weight: 300;
  text-transform: uppercase;
}
.bigTitle strong,
.bigTitle b {
  font-weight: 700;
}
.quoteTitle {
  font-size: 35px;
  line-height: 35px;
  font-weight: 700;
}
.normalTitle {
  font-size: 35px;
  line-height: 35px;
  font-weight: 300;
  text-transform: uppercase;
}
.normalTitle strong,
.normalTitle b {
  font-weight: 700;
}
.subTitle {
  font-weight: 600;
  color: #b69860;
}
.grecaptcha-badge {
  visibility: hidden;
}
.button {
  display: inline-block;
  vertical-align: top;
  line-height: 25px;
  font-size: 16px;
  padding: 20px 25px;
  background: #b69860;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #94753b;
}
.button.black {
  background: #000;
}
.button.black:hover {
  background: #fff;
  color: #000;
}
.button.icon i {
  margin-left: 10px;
  font-size: 38px;
  line-height: 25px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
}
.c-scrollbar {
  z-index: 10;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.c-scrollbar.hidden {
  opacity: 0;
}
.c-scrollbar .c-scrollbar_thumb {
  background: rgba(255, 255, 255, 0.4);
  opacity: 1;
}
@media all and (max-width: 1700px) {
  html p,
  body p {
    font-size: 14px;
    line-height: 24px;
  }
}
@media all and (max-width: 1200px) {
  .normalTitle {
    font-size: 25px;
    line-height: 25px;
  }
}
@media all and (max-width: 767px) {
  .contentWrapper {
    padding: 0 20px 0 20px;
  }
  .bigTitle {
    font-size: 45px;
    line-height: 45px;
  }
  .button {
    font-size: 14px;
  }
  .button.icon i {
    font-size: 28px;
  }
}
@media all and (max-width: 400px) {
  .bigTitle {
    font-size: 35px;
    line-height: 35px;
  }
}
/*# sourceMappingURL=default.css.map */